In [1]:
import pandas as pd
import numpy as np
%matplotlib inline

In [2]:
df = pd.read_csv('C:\\Users\\Ralph Ossenblok\\git\\data-analytics-and-science\\exercises\\exercise 1 - loan prediction problem\\data\\train.csv')

In [3]:
df.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [4]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N
10,LP001024,Male,Yes,2,Graduate,No,3200,700.0,70.0,360.0,1.0,Urban,Y
11,LP001027,Male,Yes,2,Graduate,NaN,2500,1840.0,109.0,360.0,1.0,Urban,Y
12,LP001028,Male,Yes,2,Graduate,No,3073,8106.0,200.0,360.0,1.0,Urban,Y
13,LP001029,Male,No,0,Graduate,No,1853,2840.0,114.0,360.0,1.0,Rural,N
14,LP001030,Male,Yes,2,Graduate,No,1299,1086.0,17.0,120.0,1.0,Urban,Y
15,LP001032,Male,No,0,Graduate,No,4950,0.0,125.0,360.0,1.0,Urban,Y
16,LP001034,Male,No,1,Not Graduate,No,3596,0.0,100.0,240.0,NaN,Urban,Y
17,LP001036,Female,No,0,Graduate,No,3510,0.0,76.0,360.0,0.0,Urban,N
18,LP001038,Male,Yes,0,Not Graduate,No,4887,0.0,133.0,360.0,1.0,Rural,N
19,LP001041,Male,Yes,0,Graduate,NaN,2600,3500.0,115.0,NaN,1.0,Urban,Y
20,LP001043,Male,Yes,0,Not Graduate,No,7660,0.0,104.0,360.0,0.0,Urban,N
21,LP001046,Male,Yes,1,Graduate,No,5955,5625.0,315.0,360.0,1.0,Urban,Y
22,LP001047,Male,Yes,0,Not Graduate,No,2600,1911.0,116.0,360.0,0.0,Semiurban,N
23,LP001050,NaN,Yes,2,Not Graduate,No,3365,1917.0,112.0,360.0,0.0,Rural,N
24,LP001052,Male,Yes,1,Graduate,NaN,3717,2925.0,151.0,360.0,NaN,Semiurban,N
25,LP001066,Male,Yes,0,Graduate,Yes,9560,0.0,191.0,360.0,1.0,Semiurban,Y
26,LP001068,Male,Yes,0,Graduate,No,2799,2253.0,122.0,360.0,1.0,Semiurban,Y
27,LP001073,Male,Yes,2,Not Graduate,No,4226,1040.0,110.0,360.0,1.0,Urban,Y
28,LP001086,Male,No,0,Not Graduate,No,1442,0.0,35.0,360.0,1.0,Urban,N
29,LP001087,Female,No,2,Graduate,NaN,3750,2083.0,120.0,360.0,1.0,Semiurban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
584,LP002911,Male,Yes,1,Graduate,No,2787,1917.0,146.0,360.0,0.0,Rural,N
585,LP002912,Male,Yes,1,Graduate,No,4283,3000.0,172.0,84.0,1.0,Rural,N
586,LP002916,Male,Yes,0,Graduate,No,2297,1522.0,104.0,360.0,1.0,Urban,Y
587,LP002917,Female,No,0,Not Graduate,No,2165,0.0,70.0,360.0,1.0,Semiurban,Y
588,LP002925,NaN,No,0,Graduate,No,4750,0.0,94.0,360.0,1.0,Semiurban,Y
589,LP002926,Male,Yes,2,Graduate,Yes,2726,0.0,106.0,360.0,0.0,Semiurban,N
590,LP002928,Male,Yes,0,Graduate,No,3000,3416.0,56.0,180.0,1.0,Semiurban,Y
591,LP002931,Male,Yes,2,Graduate,Yes,6000,0.0,205.0,240.0,1.0,Semiurban,N
592,LP002933,NaN,No,3+,Graduate,Yes,9357,0.0,292.0,360.0,1.0,Semiurban,Y
593,LP002936,Male,Yes,0,Graduate,No,3859,3300.0,142.0,180.0,1.0,Rural,Y
594,LP002938,Male,Yes,0,Graduate,Yes,16120,0.0,260.0,360.0,1.0,Urban,Y
595,LP002940,Male,No,0,Not Graduate,No,3833,0.0,110.0,360.0,1.0,Rural,Y
596,LP002941,Male,Yes,2,Not Graduate,Yes,6383,1000.0,187.0,360.0,1.0,Rural,N
597,LP002943,Male,No,NaN,Graduate,No,2987,0.0,88.0,360.0,0.0,Semiurban,N
598,LP002945,Male,Yes,0,Graduate,Yes,9963,0.0,180.0,360.0,1.0,Rural,Y
599,LP002948,Male,Yes,2,Graduate,No,5780,0.0,192.0,360.0,1.0,Urban,Y
600,LP002949,Female,No,3+,Graduate,NaN,416,41667.0,350.0,180.0,NaN,Urban,N
601,LP002950,Male,Yes,0,Not Graduate,NaN,2894,2792.0,155.0,360.0,1.0,Rural,Y
602,LP002953,Male,Yes,3+,Graduate,No,5703,0.0,128.0,360.0,1.0,Urban,Y
603,LP002958,Male,No,0,Graduate,No,3676,4301.0,172.0,360.0,1.0,Rural,Y
604,LP002959,Female,Yes,1,Graduate,No,12000,0.0,496.0,360.0,1.0,Semiurban,Y
605,LP002960,Male,Yes,0,Not Graduate,No,2400,3800.0,NaN,180.0,1.0,Urban,N
606,LP002961,Male,Yes,1,Graduate,No,3400,2500.0,173.0,360.0,1.0,Semiurban,Y
607,LP002964,Male,Yes,2,Not Graduate,No,3987,1411.0,157.0,360.0,1.0,Rural,Y
608,LP002974,Male,Yes,0,Graduate,No,3232,1950.0,108.0,360.0,1.0,Rural,Y
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [5]:
df[df.isnull().any(axis=1)]

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
11,LP001027,Male,Yes,2,Graduate,NaN,2500,1840.0,109.0,360.0,1.0,Urban,Y
16,LP001034,Male,No,1,Not Graduate,No,3596,0.0,100.0,240.0,NaN,Urban,Y
19,LP001041,Male,Yes,0,Graduate,NaN,2600,3500.0,115.0,NaN,1.0,Urban,Y
23,LP001050,NaN,Yes,2,Not Graduate,No,3365,1917.0,112.0,360.0,0.0,Rural,N
24,LP001052,Male,Yes,1,Graduate,NaN,3717,2925.0,151.0,360.0,NaN,Semiurban,N
29,LP001087,Female,No,2,Graduate,NaN,3750,2083.0,120.0,360.0,1.0,Semiurban,Y
30,LP001091,Male,Yes,1,Graduate,NaN,4166,3369.0,201.0,360.0,NaN,Urban,N
35,LP001106,Male,Yes,0,Graduate,No,2275,2067.0,NaN,360.0,1.0,Urban,Y
36,LP001109,Male,Yes,0,Graduate,No,1828,1330.0,100.0,NaN,0.0,Urban,N
42,LP001123,Male,Yes,0,Graduate,No,2400,0.0,75.0,360.0,NaN,Urban,Y
44,LP001136,Male,Yes,0,Not Graduate,Yes,4695,0.0,96.0,NaN,1.0,Urban,Y
45,LP001137,Female,No,0,Graduate,No,3410,0.0,88.0,NaN,1.0,Urban,Y
63,LP001213,Male,Yes,1,Graduate,No,4945,0.0,NaN,360.0,0.0,Rural,N
73,LP001250,Male,Yes,3+,Not Graduate,No,4755,0.0,95.0,NaN,0.0,Semiurban,N
79,LP001264,Male,Yes,3+,Not Graduate,Yes,3333,2166.0,130.0,360.0,NaN,Semiurban,Y
81,LP001266,Male,Yes,1,Graduate,Yes,2395,0.0,NaN,360.0,1.0,Semiurban,Y
83,LP001273,Male,Yes,0,Graduate,No,6000,2250.0,265.0,360.0,NaN,Semiurban,N
86,LP001280,Male,Yes,2,Not Graduate,No,3333,2000.0,99.0,360.0,NaN,Semiurban,Y
95,LP001326,Male,No,0,Graduate,NaN,6782,0.0,NaN,360.0,NaN,Urban,N
102,LP001350,Male,Yes,NaN,Graduate,No,13650,0.0,NaN,360.0,1.0,Urban,Y
103,LP001356,Male,Yes,0,Graduate,No,4652,3583.0,NaN,360.0,1.0,Semiurban,Y
104,LP001357,Male,NaN,NaN,Graduate,No,3816,754.0,160.0,360.0,1.0,Urban,Y
107,LP001370,Male,No,0,Not Graduate,NaN,7333,0.0,120.0,360.0,1.0,Rural,N
111,LP001387,Female,Yes,0,Graduate,NaN,2929,2333.0,139.0,360.0,1.0,Semiurban,Y
112,LP001391,Male,Yes,0,Not Graduate,No,3572,4114.0,152.0,NaN,0.0,Rural,N
113,LP001392,Female,No,1,Graduate,Yes,7451,0.0,NaN,360.0,1.0,Semiurban,Y
114,LP001398,Male,No,0,Graduate,NaN,5050,0.0,118.0,360.0,1.0,Semiurban,Y
117,LP001405,Male,Yes,1,Graduate,No,2214,1398.0,85.0,360.0,NaN,Urban,Y
120,LP001426,Male,Yes,NaN,Graduate,No,5667,2667.0,180.0,360.0,1.0,Rural,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
473,LP002522,Female,No,0,Graduate,Yes,2500,0.0,93.0,360.0,NaN,Urban,Y
477,LP002530,NaN,Yes,2,Graduate,No,2873,1872.0,132.0,360.0,0.0,Semiurban,N
479,LP002533,Male,Yes,2,Graduate,No,2947,1603.0,NaN,360.0,1.0,Urban,N
490,LP002560,Male,No,0,Not Graduate,No,2699,2785.0,96.0,360.0,NaN,Semiurban,Y
491,LP002562,Male,Yes,1,Not Graduate,No,5333,1131.0,186.0,360.0,NaN,Urban,Y
497,LP002588,Male,Yes,0,Graduate,No,4625,2857.0,111.0,12.0,NaN,Urban,Y
503,LP002618,Male,Yes,1,Not Graduate,No,4050,5302.0,138.0,360.0,NaN,Rural,N
506,LP002624,Male,Yes,0,Graduate,No,20833,6667.0,480.0,360.0,NaN,Urban,Y
507,LP002625,NaN,No,0,Graduate,No,3583,0.0,96.0,360.0,1.0,Urban,N
517,LP002682,Male,Yes,NaN,Not Graduate,No,3074,1800.0,123.0,360.0,0.0,Semiurban,N
524,LP002697,Male,No,0,Graduate,No,4680,2087.0,NaN,360.0,1.0,Semiurban,N
530,LP002717,Male,Yes,0,Graduate,No,1025,5500.0,216.0,360.0,NaN,Rural,Y
533,LP002729,Male,No,1,Graduate,No,11250,0.0,196.0,360.0,NaN,Semiurban,N
535,LP002732,Male,No,0,Not Graduate,NaN,2550,2042.0,126.0,360.0,1.0,Rural,Y
542,LP002753,Female,No,1,Graduate,NaN,3652,0.0,95.0,360.0,1.0,Semiurban,Y
544,LP002757,Female,Yes,0,Not Graduate,No,3017,663.0,102.0,360.0,NaN,Semiurban,Y
550,LP002778,Male,Yes,2,Graduate,Yes,6633,0.0,NaN,360.0,0.0,Rural,N
551,LP002784,Male,Yes,1,Not Graduate,No,2492,2375.0,NaN,360.0,1.0,Rural,Y
556,LP002794,Female,No,0,Graduate,No,2667,1625.0,84.0,360.0,NaN,Urban,Y
565,LP002833,Male,Yes,0,Not Graduate,No,4467,0.0,120.0,360.0,NaN,Rural,Y
571,LP002847,Male,Yes,NaN,Graduate,No,5116,1451.0,165.0,360.0,0.0,Urban,N
576,LP002872,NaN,Yes,0,Graduate,No,3087,2210.0,136.0,360.0,0.0,Semiurban,N
579,LP002888,Male,No,0,Graduate,NaN,3182,2917.0,161.0,360.0,1.0,Urban,Y
583,LP002898,Male,Yes,1,Graduate,No,1880,0.0,61.0,360.0,NaN,Rural,N
588,LP002925,NaN,No,0,Graduate,No,4750,0.0,94.0,360.0,1.0,Semiurban,Y
592,LP002933,NaN,No,3+,Graduate,Yes,9357,0.0,292.0,360.0,1.0,Semiurban,Y
597,LP002943,Male,No,NaN,Graduate,No,2987,0.0,88.0,360.0,0.0,Semiurban,N
600,LP002949,Female,No,3+,Graduate,NaN,416,41667.0,350.0,180.0,NaN,Urban,N
601,LP002950,Male,Yes,0,Not Graduate,NaN,2894,2792.0,155.0,360.0,1.0,Rural,Y
605,LP002960,Male,Yes,0,Not Graduate,No,2400,3800.0,NaN,180.0,1.0,Urban,N

In [6]:
df['Credit_History'].fillna(1.0, inplace = True)

In [7]:
df[df.isnull().any(axis=1)]

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
11,LP001027,Male,Yes,2,Graduate,NaN,2500,1840.0,109.0,360.0,1.0,Urban,Y
19,LP001041,Male,Yes,0,Graduate,NaN,2600,3500.0,115.0,NaN,1.0,Urban,Y
23,LP001050,NaN,Yes,2,Not Graduate,No,3365,1917.0,112.0,360.0,0.0,Rural,N
24,LP001052,Male,Yes,1,Graduate,NaN,3717,2925.0,151.0,360.0,1.0,Semiurban,N
29,LP001087,Female,No,2,Graduate,NaN,3750,2083.0,120.0,360.0,1.0,Semiurban,Y
30,LP001091,Male,Yes,1,Graduate,NaN,4166,3369.0,201.0,360.0,1.0,Urban,N
35,LP001106,Male,Yes,0,Graduate,No,2275,2067.0,NaN,360.0,1.0,Urban,Y
36,LP001109,Male,Yes,0,Graduate,No,1828,1330.0,100.0,NaN,0.0,Urban,N
44,LP001136,Male,Yes,0,Not Graduate,Yes,4695,0.0,96.0,NaN,1.0,Urban,Y
45,LP001137,Female,No,0,Graduate,No,3410,0.0,88.0,NaN,1.0,Urban,Y
63,LP001213,Male,Yes,1,Graduate,No,4945,0.0,NaN,360.0,0.0,Rural,N
73,LP001250,Male,Yes,3+,Not Graduate,No,4755,0.0,95.0,NaN,0.0,Semiurban,N
81,LP001266,Male,Yes,1,Graduate,Yes,2395,0.0,NaN,360.0,1.0,Semiurban,Y
95,LP001326,Male,No,0,Graduate,NaN,6782,0.0,NaN,360.0,1.0,Urban,N
102,LP001350,Male,Yes,NaN,Graduate,No,13650,0.0,NaN,360.0,1.0,Urban,Y
103,LP001356,Male,Yes,0,Graduate,No,4652,3583.0,NaN,360.0,1.0,Semiurban,Y
104,LP001357,Male,NaN,NaN,Graduate,No,3816,754.0,160.0,360.0,1.0,Urban,Y
107,LP001370,Male,No,0,Not Graduate,NaN,7333,0.0,120.0,360.0,1.0,Rural,N
111,LP001387,Female,Yes,0,Graduate,NaN,2929,2333.0,139.0,360.0,1.0,Semiurban,Y
112,LP001391,Male,Yes,0,Not Graduate,No,3572,4114.0,152.0,NaN,0.0,Rural,N
113,LP001392,Female,No,1,Graduate,Yes,7451,0.0,NaN,360.0,1.0,Semiurban,Y
114,LP001398,Male,No,0,Graduate,NaN,5050,0.0,118.0,360.0,1.0,Semiurban,Y
120,LP001426,Male,Yes,NaN,Graduate,No,5667,2667.0,180.0,360.0,1.0,Rural,Y
126,LP001448,NaN,Yes,3+,Graduate,No,23803,0.0,370.0,360.0,1.0,Rural,Y
127,LP001449,Male,No,0,Graduate,No,3865,1640.0,NaN,360.0,1.0,Rural,Y
158,LP001546,Male,No,0,Graduate,NaN,2980,2083.0,120.0,360.0,1.0,Rural,Y
165,LP001574,Male,Yes,0,Graduate,No,3707,3166.0,182.0,NaN,1.0,Rural,Y
170,LP001581,Male,Yes,0,Not Graduate,NaN,1820,1769.0,95.0,360.0,1.0,Rural,Y
171,LP001585,NaN,Yes,3+,Graduate,No,51763,0.0,700.0,300.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
387,LP002243,Male,Yes,0,Not Graduate,No,3010,3136.0,NaN,360.0,0.0,Urban,N
411,LP002319,Male,Yes,0,Graduate,NaN,6256,0.0,160.0,360.0,1.0,Urban,Y
421,LP002357,Female,No,0,Not Graduate,No,2720,0.0,80.0,NaN,0.0,Urban,N
423,LP002362,Male,Yes,1,Graduate,No,7250,1667.0,110.0,NaN,0.0,Urban,N
432,LP002386,Male,No,0,Graduate,NaN,12876,0.0,405.0,360.0,1.0,Semiurban,Y
435,LP002393,Female,NaN,NaN,Graduate,No,10047,0.0,NaN,240.0,1.0,Semiurban,Y
437,LP002401,Male,Yes,0,Graduate,No,2213,1125.0,NaN,360.0,1.0,Urban,Y
447,LP002435,Male,Yes,0,Graduate,NaN,3539,1376.0,55.0,360.0,1.0,Rural,N
460,LP002478,NaN,Yes,0,Graduate,Yes,2083,4083.0,160.0,360.0,1.0,Semiurban,Y
463,LP002489,Female,No,1,Not Graduate,NaN,5191,0.0,132.0,360.0,1.0,Semiurban,Y
467,LP002501,NaN,Yes,0,Graduate,No,16692,0.0,110.0,360.0,1.0,Semiurban,Y
468,LP002502,Female,Yes,2,Not Graduate,NaN,210,2917.0,98.0,360.0,1.0,Semiurban,Y
477,LP002530,NaN,Yes,2,Graduate,No,2873,1872.0,132.0,360.0,0.0,Semiurban,N
479,LP002533,Male,Yes,2,Graduate,No,2947,1603.0,NaN,360.0,1.0,Urban,N
507,LP002625,NaN,No,0,Graduate,No,3583,0.0,96.0,360.0,1.0,Urban,N
517,LP002682,Male,Yes,NaN,Not Graduate,No,3074,1800.0,123.0,360.0,0.0,Semiurban,N
524,LP002697,Male,No,0,Graduate,No,4680,2087.0,NaN,360.0,1.0,Semiurban,N
535,LP002732,Male,No,0,Not Graduate,NaN,2550,2042.0,126.0,360.0,1.0,Rural,Y
542,LP002753,Female,No,1,Graduate,NaN,3652,0.0,95.0,360.0,1.0,Semiurban,Y
550,LP002778,Male,Yes,2,Graduate,Yes,6633,0.0,NaN,360.0,0.0,Rural,N
551,LP002784,Male,Yes,1,Not Graduate,No,2492,2375.0,NaN,360.0,1.0,Rural,Y
571,LP002847,Male,Yes,NaN,Graduate,No,5116,1451.0,165.0,360.0,0.0,Urban,N
576,LP002872,NaN,Yes,0,Graduate,No,3087,2210.0,136.0,360.0,0.0,Semiurban,N
579,LP002888,Male,No,0,Graduate,NaN,3182,2917.0,161.0,360.0,1.0,Urban,Y
588,LP002925,NaN,No,0,Graduate,No,4750,0.0,94.0,360.0,1.0,Semiurban,Y
592,LP002933,NaN,No,3+,Graduate,Yes,9357,0.0,292.0,360.0,1.0,Semiurban,Y
597,LP002943,Male,No,NaN,Graduate,No,2987,0.0,88.0,360.0,0.0,Semiurban,N
600,LP002949,Female,No,3+,Graduate,NaN,416,41667.0,350.0,180.0,1.0,Urban,N
601,LP002950,Male,Yes,0,Not Graduate,NaN,2894,2792.0,155.0,360.0,1.0,Rural,Y
605,LP002960,Male,Yes,0,Not Graduate,No,2400,3800.0,NaN,180.0,1.0,Urban,N

In [8]:
m_loanamount = df['LoanAmount'].mean()

In [24]:
df['LoanAmount'] = df['LoanAmount'].fillna(m_loanamount)

In [10]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,146.412162,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.000000,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.000000,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.000000,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.000000,360.0,1.0,Urban,Y

In [25]:
df[df.isnull().any(axis=1)]

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,NaN,0,Graduate,No,5849,0.0,146.412162,360.0,1.0,Urban,Y
2,LP001005,Male,NaN,0,Graduate,Yes,3000,0.0,66.000000,360.0,1.0,Urban,Y
4,LP001008,Male,NaN,0,Graduate,No,6000,0.0,141.000000,360.0,1.0,Urban,Y
15,LP001032,Male,NaN,0,Graduate,No,4950,0.0,125.000000,360.0,1.0,Urban,Y
16,LP001034,Male,NaN,1,Not Graduate,No,3596,0.0,100.000000,240.0,1.0,Urban,Y
17,LP001036,Female,NaN,0,Graduate,No,3510,0.0,76.000000,360.0,0.0,Urban,N
18,LP001038,Male,NaN,0,Not Graduate,No,4887,0.0,133.000000,360.0,1.0,Rural,N
20,LP001043,Male,NaN,0,Not Graduate,No,7660,0.0,104.000000,360.0,0.0,Urban,N
23,LP001050,NaN,Yes,2,Not Graduate,No,3365,1917.0,112.000000,360.0,0.0,Rural,N
25,LP001066,Male,NaN,0,Graduate,Yes,9560,0.0,191.000000,360.0,1.0,Semiurban,Y
28,LP001086,Male,NaN,0,Not Graduate,No,1442,0.0,35.000000,360.0,1.0,Urban,N
31,LP001095,Male,NaN,0,Graduate,No,3167,0.0,74.000000,360.0,1.0,Urban,N
32,LP001097,Male,NaN,1,Graduate,Yes,4692,0.0,106.000000,360.0,1.0,Rural,N
40,LP001119,Male,NaN,0,Graduate,No,3600,0.0,80.000000,360.0,1.0,Urban,N
42,LP001123,Male,NaN,0,Graduate,No,2400,0.0,75.000000,360.0,1.0,Urban,Y
44,LP001136,Male,NaN,0,Not Graduate,Yes,4695,0.0,96.000000,360.0,1.0,Urban,Y
45,LP001137,Female,NaN,0,Graduate,No,3410,0.0,88.000000,360.0,1.0,Urban,Y
46,LP001138,Male,NaN,1,Graduate,No,5649,0.0,44.000000,360.0,1.0,Urban,Y
47,LP001144,Male,NaN,0,Graduate,No,5821,0.0,144.000000,360.0,1.0,Urban,Y
51,LP001157,Female,NaN,0,Graduate,No,3086,0.0,120.000000,360.0,1.0,Semiurban,Y
52,LP001164,Female,NaN,0,Graduate,No,4230,0.0,112.000000,360.0,1.0,Semiurban,N
53,LP001179,Male,NaN,2,Graduate,No,4616,0.0,134.000000,360.0,1.0,Urban,N
54,LP001186,Female,NaN,1,Graduate,Yes,11500,0.0,286.000000,360.0,0.0,Urban,N
61,LP001206,Male,NaN,3+,Graduate,No,3029,0.0,99.000000,360.0,1.0,Urban,Y
63,LP001213,Male,NaN,1,Graduate,No,4945,0.0,146.412162,360.0,0.0,Rural,N
64,LP001222,Female,NaN,0,Graduate,No,4166,0.0,116.000000,360.0,0.0,Semiurban,N
67,LP001233,Male,NaN,1,Graduate,No,10750,0.0,312.000000,360.0,1.0,Urban,Y
68,LP001238,Male,NaN,3+,Not Graduate,Yes,7100,0.0,125.000000,60.0,1.0,Urban,Y
69,LP001241,Female,NaN,0,Graduate,No,4300,0.0,136.000000,360.0,0.0,Semiurban,N
72,LP001248,Male,NaN,0,Graduate,No,3500,0.0,81.000000,300.0,1.0,Semiurban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
557,LP002795,Male,NaN,3+,Graduate,Yes,10139,0.0,260.000000,360.0,1.0,Semiurban,Y
561,LP002813,Female,NaN,1,Graduate,Yes,19484,0.0,600.000000,360.0,1.0,Semiurban,Y
563,LP002821,Male,NaN,0,Not Graduate,Yes,5800,0.0,132.000000,360.0,1.0,Semiurban,Y
564,LP002832,Male,NaN,2,Graduate,No,8799,0.0,258.000000,360.0,0.0,Urban,N
565,LP002833,Male,NaN,0,Not Graduate,No,4467,0.0,120.000000,360.0,1.0,Rural,Y
566,LP002836,Male,NaN,0,Graduate,No,3333,0.0,70.000000,360.0,1.0,Urban,Y
568,LP002840,Female,NaN,0,Graduate,No,2378,0.0,9.000000,360.0,1.0,Urban,N
571,LP002847,Male,Yes,NaN,Graduate,No,5116,1451.0,165.000000,360.0,0.0,Urban,N
572,LP002855,Male,NaN,2,Graduate,No,16666,0.0,275.000000,360.0,1.0,Urban,Y
574,LP002863,Male,NaN,3+,Graduate,No,6406,0.0,150.000000,360.0,1.0,Semiurban,N
576,LP002872,NaN,Yes,0,Graduate,No,3087,2210.0,136.000000,360.0,0.0,Semiurban,N
580,LP002892,Male,NaN,2,Graduate,No,6540,0.0,205.000000,360.0,1.0,Semiurban,Y
582,LP002894,Female,NaN,0,Graduate,No,3166,0.0,36.000000,360.0,1.0,Semiurban,Y
583,LP002898,Male,NaN,1,Graduate,No,1880,0.0,61.000000,360.0,1.0,Rural,N
587,LP002917,Female,NaN,0,Not Graduate,No,2165,0.0,70.000000,360.0,1.0,Semiurban,Y
588,LP002925,NaN,NaN,0,Graduate,No,4750,0.0,94.000000,360.0,1.0,Semiurban,Y
589,LP002926,Male,NaN,2,Graduate,Yes,2726,0.0,106.000000,360.0,0.0,Semiurban,N
591,LP002931,Male,NaN,2,Graduate,Yes,6000,0.0,205.000000,240.0,1.0,Semiurban,N
592,LP002933,NaN,NaN,3+,Graduate,Yes,9357,0.0,292.000000,360.0,1.0,Semiurban,Y
594,LP002938,Male,NaN,0,Graduate,Yes,16120,0.0,260.000000,360.0,1.0,Urban,Y
595,LP002940,Male,NaN,0,Not Graduate,No,3833,0.0,110.000000,360.0,1.0,Rural,Y
597,LP002943,Male,NaN,NaN,Graduate,No,2987,0.0,88.000000,360.0,0.0,Semiurban,N
598,LP002945,Male,NaN,0,Graduate,Yes,9963,0.0,180.000000,360.0,1.0,Rural,Y
599,LP002948,Male,NaN,2,Graduate,No,5780,0.0,192.000000,360.0,1.0,Urban,Y
602,LP002953,Male,NaN,3+,Graduate,No,5703,0.0,128.000000,360.0,1.0,Urban,Y
604,LP002959,Female,NaN,1,Graduate,No,12000,0.0,496.000000,360.0,1.0,Semiurban,Y
609,LP002978,Female,NaN,0,Graduate,No,2900,0.0,71.000000,360.0,1.0,Rural,Y
610,LP002979,Male,NaN,3+,Graduate,No,4106,0.0,40.000000,180.0,1.0,Rural,Y
612,LP002984,Male,NaN,2,Graduate,No,7583,0.0,187.000000,360.0,1.0,Urban,Y
613,LP002990,Female,NaN,0,Graduate,Yes,4583,0.0,133.000000,360.0,0.0,Semiurban,N

In [12]:
df['Dependents'].describe()

count     599
unique      4
top         0
freq      345
Name: Dependents, dtype: object

In [13]:
df['Self_Employed'].value_counts()

No     500
Yes     82
Name: Self_Employed, dtype: int64

In [14]:
df['Self_Employed'].fillna('No', inplace = True)

In [15]:
df['Loan_Amount_Term'].fillna(360,inplace = True)

In [16]:
df[df.isnull().any(axis=1)]

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
23,LP001050,NaN,Yes,2,Not Graduate,No,3365,1917.0,112.000000,360.0,0.0,Rural,N
102,LP001350,Male,Yes,NaN,Graduate,No,13650,0.0,146.412162,360.0,1.0,Urban,Y
104,LP001357,Male,NaN,NaN,Graduate,No,3816,754.0,160.000000,360.0,1.0,Urban,Y
120,LP001426,Male,Yes,NaN,Graduate,No,5667,2667.0,180.000000,360.0,1.0,Rural,Y
126,LP001448,NaN,Yes,3+,Graduate,No,23803,0.0,370.000000,360.0,1.0,Rural,Y
171,LP001585,NaN,Yes,3+,Graduate,No,51763,0.0,700.000000,300.0,1.0,Urban,Y
188,LP001644,NaN,Yes,0,Graduate,Yes,674,5296.0,168.000000,360.0,1.0,Rural,Y
226,LP001754,Male,Yes,NaN,Not Graduate,Yes,4735,0.0,138.000000,360.0,1.0,Urban,N
228,LP001760,Male,NaN,NaN,Graduate,No,4758,0.0,158.000000,480.0,1.0,Semiurban,Y
293,LP001945,Female,No,NaN,Graduate,No,5417,0.0,143.000000,480.0,0.0,Urban,N
301,LP001972,Male,Yes,NaN,Not Graduate,No,2875,1750.0,105.000000,360.0,1.0,Semiurban,Y
314,LP002024,NaN,Yes,0,Graduate,No,2473,1843.0,159.000000,360.0,1.0,Rural,N
332,LP002100,Male,No,NaN,Graduate,No,2833,0.0,71.000000,360.0,1.0,Urban,Y
334,LP002103,NaN,Yes,1,Graduate,Yes,9833,1833.0,182.000000,180.0,1.0,Urban,Y
335,LP002106,Male,Yes,NaN,Graduate,Yes,5503,4490.0,70.000000,360.0,1.0,Semiurban,Y
346,LP002130,Male,Yes,NaN,Not Graduate,No,3523,3230.0,152.000000,360.0,0.0,Rural,N
355,LP002144,Female,No,NaN,Graduate,No,3813,0.0,116.000000,180.0,1.0,Urban,Y
435,LP002393,Female,NaN,NaN,Graduate,No,10047,0.0,146.412162,240.0,1.0,Semiurban,Y
460,LP002478,NaN,Yes,0,Graduate,Yes,2083,4083.0,160.000000,360.0,1.0,Semiurban,Y
467,LP002501,NaN,Yes,0,Graduate,No,16692,0.0,110.000000,360.0,1.0,Semiurban,Y
477,LP002530,NaN,Yes,2,Graduate,No,2873,1872.0,132.000000,360.0,0.0,Semiurban,N
507,LP002625,NaN,No,0,Graduate,No,3583,0.0,96.000000,360.0,1.0,Urban,N
517,LP002682,Male,Yes,NaN,Not Graduate,No,3074,1800.0,123.000000,360.0,0.0,Semiurban,N
571,LP002847,Male,Yes,NaN,Graduate,No,5116,1451.0,165.000000,360.0,0.0,Urban,N
576,LP002872,NaN,Yes,0,Graduate,No,3087,2210.0,136.000000,360.0,0.0,Semiurban,N
588,LP002925,NaN,No,0,Graduate,No,4750,0.0,94.000000,360.0,1.0,Semiurban,Y
592,LP002933,NaN,No,3+,Graduate,Yes,9357,0.0,292.000000,360.0,1.0,Semiurban,Y
597,LP002943,Male,No,NaN,Graduate,No,2987,0.0,88.000000,360.0,0.0,Semiurban,N

In [17]:
df['Married'].value_counts()

Yes    398
No     213
Name: Married, dtype: int64

In [18]:
df['Dependents'].value_counts()

0     345
1     102
2     101
3+     51
Name: Dependents, dtype: int64

In [23]:
df[df.isnull().any(axis=1)]

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,NaN,0,Graduate,No,5849,0.0,146.412162,360.0,1.0,Urban,Y
2,LP001005,Male,NaN,0,Graduate,Yes,3000,0.0,66.000000,360.0,1.0,Urban,Y
4,LP001008,Male,NaN,0,Graduate,No,6000,0.0,141.000000,360.0,1.0,Urban,Y
15,LP001032,Male,NaN,0,Graduate,No,4950,0.0,125.000000,360.0,1.0,Urban,Y
16,LP001034,Male,NaN,1,Not Graduate,No,3596,0.0,100.000000,240.0,1.0,Urban,Y
17,LP001036,Female,NaN,0,Graduate,No,3510,0.0,76.000000,360.0,0.0,Urban,N
18,LP001038,Male,NaN,0,Not Graduate,No,4887,0.0,133.000000,360.0,1.0,Rural,N
20,LP001043,Male,NaN,0,Not Graduate,No,7660,0.0,104.000000,360.0,0.0,Urban,N
23,LP001050,NaN,Yes,2,Not Graduate,No,3365,1917.0,112.000000,360.0,0.0,Rural,N
25,LP001066,Male,NaN,0,Graduate,Yes,9560,0.0,191.000000,360.0,1.0,Semiurban,Y
28,LP001086,Male,NaN,0,Not Graduate,No,1442,0.0,35.000000,360.0,1.0,Urban,N
31,LP001095,Male,NaN,0,Graduate,No,3167,0.0,74.000000,360.0,1.0,Urban,N
32,LP001097,Male,NaN,1,Graduate,Yes,4692,0.0,106.000000,360.0,1.0,Rural,N
40,LP001119,Male,NaN,0,Graduate,No,3600,0.0,80.000000,360.0,1.0,Urban,N
42,LP001123,Male,NaN,0,Graduate,No,2400,0.0,75.000000,360.0,1.0,Urban,Y
44,LP001136,Male,NaN,0,Not Graduate,Yes,4695,0.0,96.000000,360.0,1.0,Urban,Y
45,LP001137,Female,NaN,0,Graduate,No,3410,0.0,88.000000,360.0,1.0,Urban,Y
46,LP001138,Male,NaN,1,Graduate,No,5649,0.0,44.000000,360.0,1.0,Urban,Y
47,LP001144,Male,NaN,0,Graduate,No,5821,0.0,144.000000,360.0,1.0,Urban,Y
51,LP001157,Female,NaN,0,Graduate,No,3086,0.0,120.000000,360.0,1.0,Semiurban,Y
52,LP001164,Female,NaN,0,Graduate,No,4230,0.0,112.000000,360.0,1.0,Semiurban,N
53,LP001179,Male,NaN,2,Graduate,No,4616,0.0,134.000000,360.0,1.0,Urban,N
54,LP001186,Female,NaN,1,Graduate,Yes,11500,0.0,286.000000,360.0,0.0,Urban,N
61,LP001206,Male,NaN,3+,Graduate,No,3029,0.0,99.000000,360.0,1.0,Urban,Y
63,LP001213,Male,NaN,1,Graduate,No,4945,0.0,146.412162,360.0,0.0,Rural,N
64,LP001222,Female,NaN,0,Graduate,No,4166,0.0,116.000000,360.0,0.0,Semiurban,N
67,LP001233,Male,NaN,1,Graduate,No,10750,0.0,312.000000,360.0,1.0,Urban,Y
68,LP001238,Male,NaN,3+,Not Graduate,Yes,7100,0.0,125.000000,60.0,1.0,Urban,Y
69,LP001241,Female,NaN,0,Graduate,No,4300,0.0,136.000000,360.0,0.0,Semiurban,N
72,LP001248,Male,NaN,0,Graduate,No,3500,0.0,81.000000,300.0,1.0,Semiurban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
557,LP002795,Male,NaN,3+,Graduate,Yes,10139,0.0,260.000000,360.0,1.0,Semiurban,Y
561,LP002813,Female,NaN,1,Graduate,Yes,19484,0.0,600.000000,360.0,1.0,Semiurban,Y
563,LP002821,Male,NaN,0,Not Graduate,Yes,5800,0.0,132.000000,360.0,1.0,Semiurban,Y
564,LP002832,Male,NaN,2,Graduate,No,8799,0.0,258.000000,360.0,0.0,Urban,N
565,LP002833,Male,NaN,0,Not Graduate,No,4467,0.0,120.000000,360.0,1.0,Rural,Y
566,LP002836,Male,NaN,0,Graduate,No,3333,0.0,70.000000,360.0,1.0,Urban,Y
568,LP002840,Female,NaN,0,Graduate,No,2378,0.0,9.000000,360.0,1.0,Urban,N
571,LP002847,Male,Yes,NaN,Graduate,No,5116,1451.0,165.000000,360.0,0.0,Urban,N
572,LP002855,Male,NaN,2,Graduate,No,16666,0.0,275.000000,360.0,1.0,Urban,Y
574,LP002863,Male,NaN,3+,Graduate,No,6406,0.0,150.000000,360.0,1.0,Semiurban,N
576,LP002872,NaN,Yes,0,Graduate,No,3087,2210.0,136.000000,360.0,0.0,Semiurban,N
580,LP002892,Male,NaN,2,Graduate,No,6540,0.0,205.000000,360.0,1.0,Semiurban,Y
582,LP002894,Female,NaN,0,Graduate,No,3166,0.0,36.000000,360.0,1.0,Semiurban,Y
583,LP002898,Male,NaN,1,Graduate,No,1880,0.0,61.000000,360.0,1.0,Rural,N
587,LP002917,Female,NaN,0,Not Graduate,No,2165,0.0,70.000000,360.0,1.0,Semiurban,Y
588,LP002925,NaN,NaN,0,Graduate,No,4750,0.0,94.000000,360.0,1.0,Semiurban,Y
589,LP002926,Male,NaN,2,Graduate,Yes,2726,0.0,106.000000,360.0,0.0,Semiurban,N
591,LP002931,Male,NaN,2,Graduate,Yes,6000,0.0,205.000000,240.0,1.0,Semiurban,N
592,LP002933,NaN,NaN,3+,Graduate,Yes,9357,0.0,292.000000,360.0,1.0,Semiurban,Y
594,LP002938,Male,NaN,0,Graduate,Yes,16120,0.0,260.000000,360.0,1.0,Urban,Y
595,LP002940,Male,NaN,0,Not Graduate,No,3833,0.0,110.000000,360.0,1.0,Rural,Y
597,LP002943,Male,NaN,NaN,Graduate,No,2987,0.0,88.000000,360.0,0.0,Semiurban,N
598,LP002945,Male,NaN,0,Graduate,Yes,9963,0.0,180.000000,360.0,1.0,Rural,Y
599,LP002948,Male,NaN,2,Graduate,No,5780,0.0,192.000000,360.0,1.0,Urban,Y
602,LP002953,Male,NaN,3+,Graduate,No,5703,0.0,128.000000,360.0,1.0,Urban,Y
604,LP002959,Female,NaN,1,Graduate,No,12000,0.0,496.000000,360.0,1.0,Semiurban,Y
609,LP002978,Female,NaN,0,Graduate,No,2900,0.0,71.000000,360.0,1.0,Rural,Y
610,LP002979,Male,NaN,3+,Graduate,No,4106,0.0,40.000000,180.0,1.0,Rural,Y
612,LP002984,Male,NaN,2,Graduate,No,7583,0.0,187.000000,360.0,1.0,Urban,Y
613,LP002990,Female,NaN,0,Graduate,Yes,4583,0.0,133.000000,360.0,0.0,Semiurban,N